@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}