@import url(../css/keyframe.css);

/* 배너 */
.main_banner {
  width: 100%;
  height: 100%;
}

.main_banner .inner {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}

.main_banner .inner img {
  width: 100%;
  height: 100%;
}

.main_banner .rightAction,
.main_banner .leftAction {
  display: flex;
}

.main_banner .rightAction {
  margin-right: 24px;
}

.main_banner div div,
.main_banner div div {
  width: 400px;
  height: 400px;
}

.main_banner .rightDesc,
.main_banner .leftDesc {
  position: absolute;
  display: none;
}

.main_banner .rightAction:hover .rightDesc,
.main_banner .leftAction:hover .leftDesc {
  display: block;
}

/* 애완용품 코너 */
.shopping {
  width: 100%;
  margin-top:50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: auto;
  background-color: antiquewhite;
}

.shopping .inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.shopping h2 {
  text-align: center;
  font-size: 2.5rem;
  text-shadow:2px 5px 5px rgba(137, 137, 137, 0.9);
}

.shopping ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.shopping img {
  cursor: pointer;
  width: 200px;
  height: 200px;
}
.shopping img:hover{
  animation-name:pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.shopping p {
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 8px;
  text-shadow:
  1px 2px 5px rgba(242, 24, 24, 0.8),
  1px 2px 5px rgba(242, 166, 24, 0.7),
  1px 2px 5px rgba(219, 227, 107, 0.7);
}


/* pets */
.pets {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom:1px solid black;
}

.pets h2 {
  text-align: center;
  font-size: 2.5rem;
  text-shadow:2px 5px 5px rgba(137, 137, 137, 0.9);
}

.pets .petList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
}

.pets .petList li {
  margin-top: 12px;
  position: relative;
}

/* hover 효과 */
.pets .petList li:nth-child(1):hover::before {
  content:'불독';
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: skyblue;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(2):hover::before {
  content:'시바';
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: greenyellow;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(3):hover::before {
  content:'치와와';
  background-color: pink;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: black;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(4):hover::before {
  content:'시바';
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: greenyellow;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(5):hover::before {
  content:'리트리버';
  background-color: green;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: yellow;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(6):hover::before {
  content:'시바';
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: greenyellow;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(7):hover::before {
  content:'포메리안';
  background-color: bisque;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: orange;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets .petList li:nth-child(8):hover::before {
  content:'시바';
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: greenyellow;
  animation: shake 0.8s;
  animation-iteration-count: 3;
}
.pets img {
  width: 200px;
  height: 200px;
}

/* youtube video */
.uTube {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.uTube .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.uTube h2 {
  text-align: center;
  font-size: 2.5rem;
  text-shadow:2px 5px 5px rgba(137, 137, 137, 0.9);
}

.uTube iframe {
  position: relative;
  left: 50%;
  transform: translateX(-300px);
  margin-top: 50px;
}

.uTube p {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 12px;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #777;
}

.footer .inner {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .ft_flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer .one img {
  width: 300px;
  height: 150px;
}

.footer .two li,
.footer .three li {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer .two li a {
  text-decoration: underline;
}

.footer .two li:hover a {
  color: blue;
}

.footer .three li span {
  font-size: 2.5rem;
  font-weight: bold;
}